<div class="parent">
  <div class="div1">
    <div class="chart-title text-center" style="height: 10%;">Your Total Score</div>
    <%= column_chart(@career_options_and_scores, id: "users-chart", colors: ["#e21d60", "#00bfbd"], label: "Cumulative Score", ytitle: "Weighted Score", height: "90%", width: "100%") %>
  </div>
  <div class="div2">
    <div class="welcome">Welcome <span class="pink-bold welcome pink"><%= current_user.name.capitalize %></span></div>
    <div class="middle">
      Your top scored career option is
      <div class="top-option"><%= @top_career_option %></div>
      <br>
      Your responses show that you are a <span class="percentage"><%= @first_percentage %>%</span> fit for <%= @first_career_option.option %> and a <span class="percentage"><%= @second_percentage %>%</span> fit for <%= @second_career_option.option %>.
    </div>
    <div class="bottom">
      <%= link_to "Your Dashboard", dashboard_path, class:"btn-ghost mb-2 btn-xl" %>
      <%= link_to "Career Goals", goals_path, class:"btn-ghost mb-2 btn-xl" %>
    </div>
  </div>
  <div class="div3">
    <div class="chart-title text-center" style="height: 10%;">Your Priorities</div>
    <%= bar_chart(@priorities_plucked_with_names_ordered_by_score, id: "bar-chart", colors: ["#e21d60"], min: 0, max: 10, xtitle: "Score", height: "90%", width: "90%", options: {color: "#fff", scales: {yAxes: [{display: false}],xAxes: [{scaleLabel: {display: true,labelString: 'Priority'}}]}}) %>
  </div>
  <div class="div4">
    <div class="chart-title text-center"  style="height: 10%;">Your scores comparison</div>
    <%= column_chart(@weighted_answers_with_job_title, id: "user-chart", colors: ["#e21d60", "#00bfbd"],label: "Cumulative Score", ytitle: "Weighted Score", legend: true, height: "90%", width: "100%") %>
  </div>
  <div class="div5">
    <div class="chart-title text-center"  style="height: 10%;">Recommended for you</div>
    <div class="articles-analytics-container">
      <div class="article-card text-decoration-none">
        <%= link_to "https://hbr.org/2020/07/building-work-life-boundaries-in-the-wfh-era", class: "text-decoration-none height" do %>
          <div class="card-content-analytics" >
            <div class="card-header-analytics">Building Work-Life Boundaries in the WFH Era</div>
            <div class="card-body-analytics">How to help yourself — and your employees — find time and space to be productive. by Nancy P. Rothbard
            </div>
          </div>
        <% end %>
      </div>
      <div class="article-card text-decoration-none" >
        <%= link_to "https://hbr.org/2021/12/is-your-burnout-from-too-much-work-or-too-little-impact", class: "text-decoration-none height" do %>
          <div class="card-content-analytics">
            <div class="card-header-analytics">Is Your Burnout From Too Much Work or Too Little Impact?</div>
            <div class="card-body-analytics">When it comes to burnout, it’s natural to assume that by lessening our workload we can fight the culprit. On the contrary, research shows underutilisation might be the cause”
            </div>
          </div>
        <% end %>
      </div>
      <div class="article-card text-decoration-none">
        <%= link_to "https://hbr.org/2023/02/how-to-answer-what-are-your-salary-expectations", class: "text-decoration-none height" do %>
          <div class="card-content-analytics" >
            <div class="card-header-analytics">How to Answer “What Are Your Salary Expectations?”
            </div>
            <div class="card-body-analytics">Many interview questions inspire dread in interviewees — one is especially complicated: “What are your salary expectations?”
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
