<div class="answers-container">
  <div class="option-header">
    <h2>Please rate your <%= @career_options.first == @career_option ? "first" : "second" %> career option as a
      <span class="pink"> <%= @career_option.option %></span>
    </h2>
  </div>
  <table class="table-dark ">
    <thead>
      <tr>
        <th scope="col" style="padding: 10px;">Question</th>
        <th scope="col" style="padding: 10px;">Poor</th>
        <th scope="col" style="padding: 10px;">Okay</th>
        <th scope="col" style="padding: 10px;">Good</th>
        <th scope="col" style="padding: 10px;">Very good</th>
        <th scope="col" style="padding: 10px;">Excellent</th>
      </tr>
    </thead>
    <tbody>
      <%= form_tag url_for(action: 'create'), method: "post" do %>
        <% Question.all.each do |question| %>
          <tr>
            <th scope="row"><%= question.question %></th>
            <td class="center-radio"><%= radio_button_tag question.question, "1" %></td>
            <td class="center-radio"><%= radio_button_tag question.question, "2" %></td>
            <td class="center-radio"><%= radio_button_tag question.question, "3" %></td>
            <td class="center-radio"><%= radio_button_tag question.question, "4" %></td>
            <td class="center-radio"><%= radio_button_tag question.question, "5" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= submit_tag "Next", class: "hero-btn align-self-center" %>
  <% end %>
</div>
