<h2>Please rate your <%= @career_options.first == @career_option ? "first" : "second" %> career option <%= @career_option.option %> </h2>

<%= form_tag url_for(action: 'create'), method: "post" do %>
  <% Question.all.each do |question| %>
    <div>
      <%= label_tag question.question %>
      <%= radio_button_tag question.question, "1" %>
      <%= radio_button_tag question.question, "2" %>
      <%= radio_button_tag question.question, "3" %>
      <%= radio_button_tag question.question, "4" %>
      <%= radio_button_tag question.question, "5" %>
    </div>
  <% end %>
  <%= submit_tag "Next" %>
<% end %>
