<div class="options-container">
  <div class="option-header">
    <h1>How important is company <%=  @priorities[@order].try(:downcase) %> to you?</h1>
  </div>
  <%# priority-form %>
  <div class="w-100">
    <%= simple_form_for @priority, html: { id: "priority-form" } do |f| %>
      <%#= f.input :score, as: :radio_buttons, collection: [1,2,3,4,5,6,7,8,9,10], label: false %>
      <%= f.input :score,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: [1,2,3,4,5,6,7,8,9,10] %>
      <%= f.input :priority_name, label: false, input_html: { value: @priorities[@order], class: "d-none" } %>
      <%= f.submit "Next", :class => "priorities-btn" %>
    <% end %>
  </div>
</div>
