<div class="dashboard-page-container">
  <!-- Sidebar -->
  <div class="w3-sidebar w3-bar-block w3-padding sidebar-bg w3-large pr-none" style="width:20%">
    <div class="w3-bar-item mb-3 mt-4 welcome">Tools</div>
    <% if @answers.count > 1 %>
      <%= link_to "My Results", answers_path, class: "w3-bar-item w3-button hover-sidebar-list mb-4" %>
    <% end %>
    <%= link_to "Career Challenge", new_career_option_path, class: "w3-bar-item w3-button hover-sidebar-list mb-4" %>
    <%= link_to "Your Goals", goals_path, class: "w3-bar-item w3-button hover-sidebar-list mb-4" %>
    <%= link_to "Find a coach", "https://mentor-me.herokuapp.com/", class: "w3-bar-item w3-button hover-sidebar-list mb-4" %>
    <%= link_to "Search our resources", root_path, class: "w3-bar-item w3-button hover-sidebar-list mb-4" %>
  </div>
  <div class="container-dashboard mt-0 pe-4" style="margin-left:20%">
    <div class="d-flex justify-content-between dashboard-banner">
      <div>
        <div class="welcome">Welcome <span class="welcome pink"><%= @user.name.capitalize %>!</span></div>
      </div>
      <%= link_to "Take our career challenge!", new_career_option_path, class:"btn-ghost text-center mt-5 w-270 h-40" %>
    </div>
    <div class="cards">
      <div class="chart-title text-center mb-0">Recommended for you</div>
      <%= link_to "https://hbr.org/2023/02/career-sponsorship-is-a-two-way-street", class: "text-decoration-none " do %>
        <div class="card-category" >
          <div class="card-article-header">Career Sponsorship is a two way street</div>
          <div class="card-article-description">Sponsorship is a vital mechanism for advancing the careers of junior employees. But it’s not just a one-way relationship in which everything flows from the sponsor to the sponsee. What sponsees bring to the relationship is just as important.</div>
        </div>
      <% end %>
      <%= link_to "https://hbr.org/2022/12/whats-holding-back-your-career-development", class: "text-decoration-none " do %>
        <div class="card-category">
          <div class="card-article-header">What’s holding back your career development?</div>
          <div class="card-article-description">Career challenges like reorganizations, layoffs, and a lack of personal fulfillment can feel like big bumps in the road, but instead of seeing them as obstacles, start to look for the opportunities. Personal career development is critical for resilience.</div>
        </div>
      <% end %>
      <%= link_to "https://hbr.org/2022/12/its-never-too-late-to-switch-careers", class: "text-decoration-none " do %>
        <div class="card-category" >
          <div class="card-article-header">It’s never too late to switch career</div>
          <div class="card-article-description">…and it doesn’t need to shake up your entire world.</div>
        </div>
      <% end %>
      <%= link_to "https://hbr.org/2022/09/how-to-build-a-career-in-a-new-industry", class: "text-decoration-none " do %>
        <div class="card-category" >
          <div class="card-article-header">How to build a career in a new industry</div>
          <div class="card-article-description">Reinventing yourself doesn’t have to mean starting from scratch.</div>
        </div>
      <% end %>
      <%= link_to "https://hbr.org/2022/09/setting-career-goals-when-you-feel-overwhelmed", class: "text-decoration-none " do %>
        <div class="card-category" >
          <div class="card-article-header">Setting Career goals when you feel overwhelmed</div>
          <div class="card-article-description" id= "scroll-box">You can grow out of your slump.</div>
        </div>
      <% end %>
    </div>
  </div>
</div>
