<div class="hero-container">
  <div class="hero-header">Take Control Of Your Career</div>
  <div class="hero-content">
    <div class="hero-content-text aigerim mb-5">
      Whether you’re in the early stages of your career or just looking for extra guidance, we’re here to help you discover where you’ll find happiness in the world of work.
    </div>
    <div class="hero-cta">
      <% if user_signed_in? %>
        <%= link_to "Your Personal Dashboard", dashboard_path, class: "btn-ghost text-center mt-3 w-75 h-40" %>
      <% else %>
        <%= link_to "Get Started", new_user_registration_path, class:"btn-ghost text-center mt-3 w-75 h-40" %>
      <% end %>
    </div>
  </div>
  <div class="centered-arrows">
    <svg class="arrows">
      <a
        href="#scroll-box"
      >
        <path class="a1" d="M0 0 L30 32 L60 0"></path>
        <path class="a2" d="M0 20 L30 52 L60 20"></path>
        <path class="a3" d="M0 40 L30 72 L60 40"></path>
      </a>
    </svg>
  </div>
</div>
<div class="how-it-works-container">
  <div class="landing-pink-text">How our career decision system works</div>
  <div class="circles-cards p-30"  id="scroll-box">
    <div class="circle-card-body">
      <%= image_tag "option1.jpg", class: "circle-img" %>
      <div class="circle-card-text">Tell us your options</div>
    </div>
    <div class="circle-card-body">
      <%= image_tag "lightbulb.png", class: "circle-img" %>
      <div class="circle-card-text">Fill out the decision wizard</div>
    </div>
    <div class="circle-card-body">
      <%= image_tag "laptopguys.png", class: "circle-img" %>
      <div class="circle-card-text">See which career path to take</div>
    </div>
  </div>
</div>
<div class="what-we-offer-container">
  <div class= "landing-pink-text">What we offer</div>
  <div class="what-we-offer-body">
    <div class="square-home-card-body">
      <div class="circle-card-body">
        <div class="card-image">
          <%= image_tag "decision.jpg" %>
        </div>
        <div class= "offer-card-text">Decision Wizard</div>
        <span class="card-italic"><em>Use data to help decide between two career options</em></span>
      </div>
    </div>
    <div class="square-home-card-body">
      <div class="circle-card-body">
        <div class="card-image">
          <%= image_tag "career-resources.jpg" %>
        </div>
        <div class= "offer-card-text">Resources</div>
        <span class="card-italic"><em>Find resources to help you with your career</em></span>
      </div>
    </div>
    <div class="square-home-card-body">
      <div class="circle-card-body">
        <div class="card-image">
          <%= image_tag "coaching.jpg" %>
        </div>
        <div class= "offer-card-text">Coaching</div>
        <span class="card-italic"><em>Connect with world class coaches</em></span>
      </div>
    </div>
    <div class="square-home-card-body">
      <div class="circle-card-body">
        <div class="card-image">
          <%= image_tag "goals.jpg" %>
        </div>
        <div class= "offer-card-text">Goal Tracking</div>
        <span class="card-italic"><em>Track your career goals</em></span>
      </div>
    </div>
  </div>
</div>
<div class="testimonials-container">
  <div class="landing-pink-text">Testimonials</div>
  <div class="circles-cards">
    <div class="circle-card-body">
      <%= image_tag "Katrina.jpg", class: "circle-img"  %>
      <div class="circle-card-text">"I love how CareerCompass takes a really data driven approach to helping me make my decision! It helped me decide to quit my job and go back to school!"</div>
    </div>
    <div class="circle-card-body">
      <%= image_tag "Julia.png", class: "circle-img"  %>
      <div class="circle-card-text">"I'm normally a really indecisive person, CareerCompass helped me make a decision about two offers so much quicker than it normally would"</div>
    </div>
    <div class="circle-card-body">
      <%= image_tag "Andreas.jpg", class: "circle-img"  %>
      <div class="circle-card-text">"CareerCompass helped me decide to take a risk and follow my passion by helping me put what I knew in my head into data in a really easy way"</div>
    </div>
  </div>
</div>
