<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= image_tag "logo-simple.png" %>
      <!-- How to disappear the avatar until you're signed in? Will take from mentorme-->
      <h5 class="logo-text">Take control of your career</h5>
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "Join CareerCompass", root_path, class: "nav-link" %>
            <%= link_to "Login", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" <%= image_tag "girl.jpg" %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
          </ul>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="hero-container">
  <div class="hero-text">
    <h1 class="hero-header">CareerCompass</h1>
    <br>
      <p>
        Whether you’re in the early stages of your career or just looking for extra guidance, we’re here to help you discover where you’ll find happiness in the world of work.
      </p>
      <%= link_to "Launch our decision wizard", root_path, class: "hero-btn" %>
  </div>
    <div class="hero-footer">
      <%# <%= # Insert animated arrows here %>
  </div>
</div>

<div class="how-it-works-container">
      <p class= "landing-pink-text">How our career decision system works</p>

  <div class="circles-cards">
    <div class="circle-card-body">
      <%= image_tag "hatgirls.png", class: "circle-img" %>
        <p class="circle-card-text">Tell us your options</p>
    </div>
    <div class="circle-card-body">
      <%= image_tag "lightbulb.png", class: "circle-img" %>
        <p class="circle-card-text">Fill out the decision wizard</p>
    </div>
    <div class="circle-card-body">
      <%= image_tag "laptopguys.png", class: "circle-img" %>
        <p class="circle-card-text">See which career path to take</p>
    </div>
  </div>
</div>
<div class="what-we-offer-container">
  <p class= "landing-pink-text">What we offer</p>
  <div class="circles-cards">
    <div class="card">
      <div class="card-image">
        <%= image_tag "forest.png", width: 200 %>
        <div class="circle-card-text"></div>
          <p class= "card-body">Career Resources</p>
          <p class= "card-body">A smaller line of text</p>
        </div>
      </div>
    </div>
   </div>
</div>
<div class="card">
</div>
</div>
</div>
  <p class="landing-pink-text">Testimonials</p>

   <div class="circles-cards">
    <div class="circle-card-body">
      <%= image_tag "lightbulb.png", class: "circle-img"  %>
        <p class="circle-card-text">Donald says</p>
    </div>
    <div class="circle-card-body">
      <%= image_tag "lightbulb.png", class: "circle-img"  %>
        <p class="circle-card-text">Donald says</p>
    </div>
    <div class="circle-card-body">
     <%= image_tag "lightbulb.png", class: "circle-img"  %>
        <p class="circle-card-text">Donald says</p>
    </div>
    <div class="circle-card-body">
     <%= image_tag "lightbulb.png", class: "circle-img"  %>
        <p class="circle-card-text">Donald says</p>
    </div>
  </div>
